Repository italobarrosme/nezuko-3: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, tests

biome-check:
  run: npx @biomejs/biome check --write {staged_files}

tests:
  run: npm run test:deploy --findRelatedTests --bail

chore: add test command to lefthook configuration, refactor imports to single quotes, and clean up unused lines in various files
  lefthook.yml
  src/app/layout.tsx
  src/app/page.tsx
  src/modules/theme/components/ButtonThemeToggle/ButtonThemeToggle.tsx
  src/modules/theme/components/ButtonThemeToggle/index.ts
  src/modules/theme/components/ThemeProvider/ThemeProvider.tsx
  src/modules/theme/components/ThemeProvider/index.ts
  src/modules/theme/hooks/useTheme.ts
  src/modules/theme/index.ts
  src/modules/theme/store/useThemeStore.ts
  src/modules/theme/types/index.ts
  src/providers/Providers.tsx
  src/providers/index.ts
  src/styles/keyframes.css
Due: biome-check, tests

chore: update project version to 2.0.0, add commitlint to pre-push hooks, and enhance next.config.mjs with ESLint configuration
  README.md
  lefthook.yml
  next.config.mjs
  package-lock.json
  package.json
Due: biome-check

chore: add commitlint configuration file and update lefthook to include commit-msg hook
  commitlint.config.mjs
  lefthook.yml
Due: none

docs: update readme with installation instructions
  README.md
Due: biome-check

chore: update biome-check glob pattern in lefthook configuration to exclude markdown files
  lefthook.yml
Due: none

docs: remove outdated utilities section from README
  README.md
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,jsx,tsx,css,scss,json,jsonc,md}
  tests: any of: *.{js,ts,jsx,tsx}
